In [ ]:
#programa 1
a= int(input("dame un numero:"))
if a%2==0:
  print("par")
else:
  print("impar")

dame un numero:9
impar

In [ ]:
#programa 2
a= str(input("escriba n texto:"))
b= int(input("cuantas veces:"))
c=(a*b)
print(c)

escriba n texto:i <3 ipn
cuantas veces:3
i <3 ipni <3 ipni <3 ipn

In [ ]:
#programa 3
def pago(val1):
  dia = (val1*150)
  sem = (dia*5)
  mes = (dia*20)
  print("salario por dia",dia)
  print("salario por semana",sem)
  print("salario por mes",mes)
h=float(input("ingrese las horas:"))
pago(h)

ingrese las horas:6
salario por dia 900.0
salario por semana 4500.0
salario por mes 18000.0

In [ ]:
#programa 4
x = int(input("introduce el primer valor:"))
y = int(input("introduce el segundo valor:"))
a = (x + y)
b = (x - y)
c = (x * y)
d = (x / y)
n  = str(input("escoga una opcion: a=suma b=resta c=multi d=divi:"))
if n == "a":
  print("la suma es:",a)
if n == "b":
  print("la resta es:",b)
if n == "c":
  print("la multi es:",c)
if n == "d":
  prit("la divi es:",d)

introduce el primer valor:6
introduce el segundo valor:7
escoga una opcion: a=suma b=resta c=multi d=divi:j

In [ ]:
#programa 5
def peso(val1 , val2):
 res = val1 + val2
 ext = (-10000 + res)
 if res<=10000:
   print("el pedido es correcto")
 else:
   print("se pasa por",ext,"g")

payaso=150
juego=170
a = int(input(" ingrese el numero de payasos: "))
b = int(input(" ingrese el numero de juegos de mesa: "))
c = (payaso*a)
d = (juego*b)
peso(c , d)

 ingrese el numero de payasos: 90
 ingrese el numero de juegos de mesa: 69
se pasa por 15230 g

In [ ]:
#programa 6
def salario(val1):
  if val1 < 10000:
    print(val1-(val1*5)/100)
  if 10000<val1<15000:
    print(val1-(val1*10)/100)
  if 15000<val1<20000:
    print(val1-(val1*15)/100)
  if val1>20000:
    print(val1-(val1*20)/100)
x = float(input("ingresa tu salario:"))
salario(x)

ingresa tu salario:567
538.65

In [56]:
#programa 7
A = [0, 50, 100]
a = int(input("edad:"))
if (a<=4):
  print("su precio es:",A[0])
if (4<a<16):
  print("su precio es:",A[1])
if (a>16):
  print("su precio es.",A[2])
B = [10, 30, 50]
B.append(0)
b = str(input("tipo de credencial? estudiante, docente, inapan: "))
if (b == "estudiante"):
  print("su descuento es de:",((B[0]*50)/100),"pesos")
if (b == "docennte"):
  print("su descuento es de:", ((B[1]*100)/100),"pesos")
if (b == "adulto"):
  print("su descuento es de:", ((B[2]*50)/100),"pesos")  
else:
  print("su descuento es de:", ((B[3],"pesos")
  e = ((B[0]*50)/100)
  d = ((B[1]*100)/100)
  i = ((B[2]*50)/100)
  c = [0,0,0,0,0,0,0]
  c[0]=(A[0])
  c[1]= (A[1]-e)
  c[2]= (A[1]-0)
  c[3]= (A[2]-e)
  c[4]= (A[2]-d)
  c[5]= (A[2]-1)
  c[6]= (A[2]-0)
  print("precios con descuentos ", c)

In [71]:
#programa 8 
def triangulo(n):
  return "\n".join(["*"*i for i in range(1,n+1)])
numero = int(input("numero:"))
print(triangulo(numero))

numero:7
*
**
***
****
*****
******
*******

In [ ]:
#programa 9
def factorial(val1):
  x = int(val1)
  count= 0
  y=int(input("dam un numero:"))
  z=1
factorial(y)
while z<= x:
  count=count*z
  z= z+1
print(count)

In [ ]:
#programa 10
def circulo(val1):
  area=(val1**2*p)
  print("el area del circulo es:",area)
def cilindro(val2):
  res= (area*val2)
  print("el area del cilindro es:",res)
p=3.1416
r= float(input("dame el radio del circulo:"))
curculo(r)
area=(r**2*p)
h=float(input("dame la altura del cilindro:"))
cilindro(h)